{
 :paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json { :mvn/version "2.4.0" }

        clj-http/clj-http { :mvn/version "3.12.3" }

        camel-snake-kebab/camel-snake-kebab { :mvn/version "0.4.2" }

        com.google.guava/guava { :mvn/version "31.1-jre" }

        org.bouncycastle/bcprov-jdk15 { :mvn/version "1.46" }

        less-awful-ssl/less-awful-ssl { :mvn/version "1.0.6" }

        commons-net/commons-net { :mvn/version "3.10.0" }
        }
 :aliases
 {

  :test {
         :extra-paths ["test"]
         :extra-deps {
                      io.github.cognitect-labs/test-runner {
                                                            :git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"
                                                            }
                      }
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test
         }

  :lint {
         :replace-deps { clj-kondo/clj-kondo {:mvn/version "2022.04.25"} }
         :main-opts ["-m" "clj-kondo.main" "--lint" "src"]
         }
  }
 }
