{
 :paths ["src"]
 :deps {
        org.clojure/clojure {:mvn/version "1.11.1"}

        uberdeps/uberdeps {:mvn/version "1.1.4"}
        }
 :aliases
 {

  :test {
         :extra-paths ["test"]
         :extra-deps {
                      io.github.cognitect-labs/test-runner {
                                                            :git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"
                                                            }
                      }
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test
         }

  :lint {
         :replace-deps { clj-kondo/clj-kondo {:mvn/version "2022.04.25"} }
         :main-opts ["-m" "clj-kondo.main" "--lint" "src"]
         }

  :build {
          :replace-paths []
          :main-opts ["-m" "uberdeps.uberjar"]
          }
  }
 }
